* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors:  #087f5b ;
              #343a40; */

body {
  font-family: "Inter" sans-serif;
  color: #343a40;
  line-height: 1;
  margin: 100px auto;
  width: 700px;
  padding: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.btn--left,
.btn--right {
  stroke: #087f5b;
  border: 1px solid #087f5b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 44px;
  height: 44px;
  /* padding: 5px; */
}

.three {
  background-color: #087f5b;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: #087f5b;
  /* padding: 25px; */
  color: white;
  padding: 20px;
}
